/* Copied from bookdown text */
/* https://raw.githubusercontent.com/rstudio/bookdown/master/inst/examples/css/style.css */

/* Can do custom css here */
#header .title {
  font-size:2.25em;
  margin-bottom:.5em;
}

#header .author, #header .date {
  font-weight:500;
  margin-top: 0;
  margin-bottom: 0;
}

#header .date:before {
  font-weight: 500;
  font-style: italic;
  content: "Last updated: ";
}

/* appendix number fix?*/
.header-section-number {
    padding-right: .5em;
}

.page-inner li {
  margin-bottom: .85em;
}

.page-inner li ul {
  margin-top: .85em !important;
}

.footnotes ol li {
  margin-bottom: .5em;
}

.page-inner .list-condensed li,
.page-inner .list-condensed ol li,
.page-inner .list-condensed ul li  {
    margin-bottom: 0 !important;
}

.page-inner .list-condensed ol,
.page-inner .list-condensed ul {
    margin-top: 0 !important;
}

.footnotes ol li p {
  margin-bottom: .5em !important;
}

.book .book-summary ul.summary li a.title {
  padding-top:15px;
  font-size: 15px; /* match height styling? */
}

.book .book-summary {
  background: #f0f5f9; /* theme the sidebar to distinguish */
}

/* Common? */
p.caption {
  font-size: 90% !important;
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  line-height: 1.42em;
}
pre code {
  white-space: inherit;
}

.clear {
  clear:both
}
